<div class="container">
  <div class="row w-100">

    <div class="row-lg-6 mx-auto">

      <h1 class="pt-3">Editing Book</h1>

      <!--バリデーション(空白が無いかの確認)-->
      <div class="col-lg-7 pb-3 mx-auto">
        <% if @book.errors.any?%>
        <h2><%= @book.errors.count%>error prohibited this obj from being saved: </h2>
        <ul>
        <% @book.errors.full_messages.each do |message| %>
          <li><%= message %><br> </li>
        <% end %>
        </ul>
        <% end %>
      </div>

      <%= form_with model: @book, local: true do |f| %>
        <p>Title</p>
        <%= f.text_field :title, autofocus: true, class: "form-control mb-3 input-block-level" %>
        <p>Opnion</p>
        <%= f.text_area :body, autofocus: true, class: "form-control" %>

        <%= f.submit "Update Book", class: "mt-3 btn btn-success" %>
      <% end %>

      <div class="mt-3">
        <%= link_to "Show", book_path(params[:id]) %>
        <p class="d-inline-block"> | </p>
        <%= link_to "Back", books_path %>
      </div>

    </div>

  </div>
</div>
