<div class="container"> <!--ユーザー詳細ページ-->

  <!--バリデーション(空白が無いかの確認)-->
  <div class="mb-3">
    <% if @book.errors.any?%>
      <h2><%= @book.errors.count%>error prohibited this obj from being saved: </h2>
      <ul>
        <% @book.errors.full_messages.each do |message| %>
          <li><%= message %><br></li>
        <% end %>
      </ul>
    <% end %>
  </div>

  <div class="row mt-3">



    <div class="col-md-3"> <!--ユーザーインフォと新規投稿フォーム-->
      <div> <!--ユーザー情報-->
        <h2>User info</h2>
        <%= image_tag @user.get_profile_image(100,100) %>
        <table class="table table-bordered=bottom">
          <tr>
            <th>name</th>
            <td><%= @user.name %></td>
          </tr>
          <tr>
            <th>introduction</th>
            <td><%= @user.introduction %></td>
          </tr>
        </table>

        <%= link_to edit_user_path(current_user), class: 'btn btn-outline-secondary mt-5 btn-block' do %><!--ユーザー編集ボタン-->
          <i class="fa-solid fa-user-gear"></i>
        <% end %>

      </div> <!--～ユーザー情報-->

      <div> <!--新規投稿フォーム-->
        <h2 class="mt-3">New book</h2>
        <%= form_with model: @book, url: books_path, method: :post do |f| %>
          <p>Title</p>
          <%= f.text_field :title %>
          <p class="pt-3">Opinion</p>
          <%= f.text_area :body %>
          <%= f.submit 'Create Book', class: 'btn btn-success mt-3' %>
        <% end %> <!--～新規投稿フォーム-->
      </div>

    </div> <!--～ユーザーインフォと新規投稿フォーム-->

    <div class="col-md-8 offset-md-1"> <!--Book一覧-->
    <h2>Books</h2>
    <table class="table table-hover table-bordered-bottom">
      <thead>
        <tr>
          <th></th>
          <th>Title</th>
          <th>Opinion</th>
        </tr>
      </thead>
      <% @books.each do |book| %>
        <% user = book.user %>
        <tbody>
          <tr>
            <td>
              <%= link_to user_path(user) do %>
                <%= image_tag user.get_profile_image(100,100) %>
              <% end %>
            </td>
            <td><%= link_to (book_path(book.id)) do %>
                  <%= book.title %>
                <% end %>
            </td>
            <td> <%= book.body %> </td>
          </tr>
        </tbody>
      <% end %>
    </table>
  </div> <!--～Book一覧-->

  </div>
</div>