<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/d5646ab70c.js" crossorigin="anonymous"></script> <!--Fontawesome読み込み-->

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body> <!----ボディ---->

    <header> <!----ヘッダー---->
      <nav class="navbar navbar-expand-lg bg-dark">
        <div class="container">
          <a class="navbar-brand p-3 text-light" href="/">Bookers</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %> <!--サインインしてるとき-->
              <li class="nav-item"> <!--ホーム-->
                <%= link_to user_path(current_user.id), class: 'nav-link text-light' do%>
                  <i class="fa-solid fa-house"></i> Home
                <% end %>
                <!--%= link_to "Home", user_path(current_user.id), class: 'nav-link text-light' %>-->
              </li>
              <li class="nav-item"> <!--ユーザー一覧-->
                <%= link_to users_path, class: 'nav-link text-light' do %>
                  <i class="fa-solid fa-users"></i> Users
                <% end %>
              </li>
              <li class="nav-item"> <!--ブック一覧-->
                <%= link_to books_path, class: 'nav-link text-light' do %>
                  <i class="fa-solid fa-book-open"></i> Books
                <% end %>
              </li>
              <li> <!--ログアウト-->
                <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link text-light' do %>
                  <i class="fa-solid fa-right-from-bracket"></i> Log out
                <% end %>
              </li>
            <% else %> <!--ログインしてないとき-->
              <li class="nav-item"> <!--ホーム-->
                <%= link_to root_path, class: 'nav-link text-light' do %>
                  <i class="fa-solid fa-house"></i> Home
                <% end %>
              </li>
              <li class="nav-item"> <!--アバウト-->
                <%= link_to about_path, class: 'nav-link text-light' do %>
                  <i class="fa-solid fa-link"></i> About
                <% end %>
              </li>
              <li class="nav-item"> <!--サインアップ-->
                <%= link_to new_user_registration_path, class: 'nav-link text-light' do %>
                  <i class="fa-solid fa-user-plus"></i> Sign up
                <% end %>
              </li>
              <li class="nav-item"> <!--ログイン-->
                <%= link_to new_user_session_path, class: 'nav-link text-light' do %>
                  <i class="fa-solid fa-right-to-bracket"></i> Log in
                <% end %>
              </li>
            <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main class="mb-auto"> <!----メイン---->

      <% flash.each do |key, value| %> <!--ログイン・ログアウト成功時？-->
        <div class="flash <%= key %>">
          <%= value %>
        </div>
      <% end %>


      <%= yield %>

    </main>

    <footer class="py-5">
      <p class="text-center p-5">CopyRight Infratop.inc</p>
    </footer> <!----フッター---->

  </body>

</html>
